.jumbotron{
	margin-top:30px;
	text-align: center;
	height: 100vh;
	color: white;
}
.jumbotron .container{
	margin-top: 120px;
}
.jumbotron .container h1{
	font-size: 80px;
}
.jumbotron .container hr{
	margin-bottom: 50px;
}
.jumbotron .container p{
	margin-top: 10px;
}

.container{
	margin-top:30px;
}

.container .row .col-sm-6 .card{
	margin-bottom: 10px;
}

.container .row .col-sm-6 .card .card-header .badge{
	float: right;
	margin-top: 2px;
}


.skill{
	text-align: center;
	color: white;
}

.project h1{
	text-align: center;
	color: white;
}

.skill .row .border i:hover{
	color: #B58900;
}

.skill .row .border i{
	margin:20px;
}

.skill .row .border .icons{
	font-size: 3.8rem;
}

.footer{
	text-align: center;
	color: white;
}

.footer .fas{
	color: red;
}

